<!doctype html>
<html>
<head>
	<style>
		.redButton{
		background-color: #808080;
		color: #F00;
		font-size: 40px;
		padding: 200px 300px;
		border-radius: 10px;
		border: none;
		float: right;
		}
		.blueButton{
		background-color: #808080;
		color: #00F;
		font-size: 40px;
		padding: 200px 300px;
		border-radius: 10px;
		border: none;
		float: left;
		}
		div{
		margin-left: 100px;
		margin-right: 100px;

		}
	</style>
	<title>GPIO with Flask!</title>
</head>
	<body>
		<div>
		<center> <h1>{{msg}}</h1></center>
		<font size="50"><br><br><br></font>
		<form method="POST">
			<button align="left" type="submit" class="blueButton"  name="blue" value="blueLed">Blue</button>
			
			<button align="right" type="submit" class="redButton" name="red" value="redLed">Red</button>
		</form>
		</div>
<body>
</html>
